<div>
  <div>
    <table>
      <tr>
        <th>Id</th>
        <th>IsActive</th>
        <th>X</th>
        <th>Y</th>
        <th>Settings</th>
      </tr>
      <tr *ngFor="let drone of drones">
        <td>{{ drone.id }}</td>
        <td>{{ drone.isActive }}</td>
        <td>{{ ((drone.position) ? drone.position.x : '0') }}</td>
        <td>{{ ((drone.position) ? drone.position.y : '0') }}</td>
        <td><button (click)="onSettingsButton(drone.id)">Settings</button></td>
      </tr>
    </table>
  </div>
</div>
